<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gossip</title>
  </head>
  <body>
    <h3> <%= gossip.title %> </h3>
    <p> <%= gossip.content %> </p>
    
  </body>
</html>
