<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <div class="container mt-5 pt-5">
      <div class="">
        <h3>La team :</h3>
        <ul>
          <li>moi</li>
        </ul>
      </div>
    </div>

  </body>

</html>
